<li class="gear-card item" data-item-id="{{id}}">
  <header class="card-header flexrow">
    <div class="item-image" style="background-image: url('{{img}}')"></div>
    <button type="button" class="item-name">{{name}}</button>
    <div class="item-controls">
      <button type="button" class="item-control item-show">
        <i class="far fa-comment-alt"></i>
      </button>
      <button type="button" class="item-toggle {{#unless system.favorite}}item-unequipped{{/unless}}" data-toggle="system.favorite" title="{{localize "SWADE.Favorite"}}">
        <i class="fas fa-star"></i>
      </button>
    </div>
  </header>
  <div class="card-content" style="display: none">
  {{#if (or hasSkillRoll hasDamage hasAmmoManagement hasReloadButton system.isArcaneDevice hasActionRoll)}}
    {{>"systems/swade/templates/shared-partials/action-card.hbs" item=this}}
  {{else}}
  {{#if system.description}}
    {{{enrich system.description}}}
  {{/if}}
  {{/if}}
  </div>
</li>
