{{prompt}}
<form>
  <fieldset>
    {{adjustDamage}}
    <div class='form-group'>
      <label for='damage'>{{localize 'SWADE.Dmg'}}</label>
      <span class='form-fields'>
        <input type='number' id='damage' value='{{damage}}' autofocus />
      </span>
    </div>
    <div class='form-group'>
      <label for='ap'>{{localize 'SWADE.Ap'}}</label>
      <span class='form-fields'>
        <input type='number' id='ap' value='{{ap}}' />
      </span>
    </div>
  </fieldset>
</form>