.advance-editor {
  .editor-container {
    height: 300px;
    border: $solid-line;
    padding: $small-spacing;
    margin: $small-spacing;
    .editor {
      height: 100%;
      overflow-y: hidden;
    }
    .tox {
      min-height: 100%;
      max-height: 100%;
    }
  }
}
